*{
    background-color: rgb(49, 49, 49);
}

.calculator{
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 300px;
}
.screen{
    background-color: aliceblue;
    width: 270px;
    height: 100px;
    margin: 10px;
    border-radius: 7px;
}

.screen-text{
    background-color: aliceblue;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
}

.inputs{
    display: flex;
}

.number-input{
    width: 250px;
}
.operator-input{
    width: 70px;
}

button{
    height: 70px;
    width: 70px;
    border-radius: 7px;
    font-size: 35px;
    cursor: pointer;
}

